/* /* /* /* .Box {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid black;
  background: radial-gradient(rgb(209, 255, 4), rgb(252, 112, 5), rgb(255, 0, 0));
  transform: rotate(45deg);
  margin-top: 20px;
}

.contentBox{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border-radius: 2px solid black;
    border-color: blue;
    box-sizing: border-box;
    justify-content: center;
    text-decoration-line: underline;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    box-shadow: none;
}

.root{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 126, 222);
    /* margin-left: 200px; */
    /* text-align: center; */
    /* position: relative; */
    /* left: 100px; */
    /* top: 300px; */
    /* transform: translateX(200px); */
    /* transform: translateZ(-100px); */
   /* transform: translate(200px,100px);
   transform: rotate(56deg);
   box-shadow: gold;
   transform: scale(0.9);
   border-radius: 30px;
   display: block;
   display: inline;
   display: inline-block;
} */

/* #text{
    color: rgb(31, 7, 213);
    background-color: rgb(54, 189, 144);
    border-radius: 30px;
    justify-items: center;
    justify-content: center;
    display: inline;
    display: flex;
    
} */

/* 
#roy{
    border: 2px soid black
    maroon
}

#child0{
    background-color: blueviolet;
    display: block;
}

.no{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 0, 0);

}

.yes{
    height: 200px;
    width: 200px;
    background-color: rgb(98, 255, 0);
    
} */


/* .ok{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 255, 251);
}


.done{
    height: 200px;
    width: 200px;
    background-color: rgb(0, 8, 254);
    
}

#go{
    justify-content: center;
    justify-content: space-evenly;
    display: flex;
    align-items: end;
    justify-content: space-between;
    transition-property: background-color;
    transition-duration: 10s;
    transform: translate(500px) rotate(90deg);
} */


/* animanation */

/* .parent{
height: 100px;
width: 100px;
color: aqua;
background-color: rgb(79, 1, 234);
}

.child:active{
    background-color: rgb(137, 25, 216);
    transform: translate(30px)rotate(45deg);
}
.child:hover{
    background-color: aquamarine;
    transform: translate(500px) rotate(90deg);
    animation-name: para1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    
} */
/* 
@keyframe para1 {
    0%{
      traansform:translate(0,0)
    }
    25%{
tr
    }
50%{

}
75%{

}
100{

}
} */ */

/* using of grid in css */


*{
    margin: 0px;
    padding: 0px;
}
#parent{
    border: 2px solid rgb(0, 202, 229);
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    row-gap: 40px;
    column-gap: 30px;
    justify-items: center;
    align-items: center;
}

.box{
    border: 2px solid rgb(210, 7, 7);
    background-color: aquamarine;
    height: 100px;
    width: 100px;
}